---
// Component Imports
import Todos from '../components/Todos.vue';
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<link
			href="https://fonts.googleapis.com/icon?family=Material+Icons"
			rel="stylesheet"
		/>
		<title>Todo App</title>
	</head>
	<body>
		<main class="p-5">
			<Todos client:visible />

			<button
				class="fixed z-90 bottom-10 right-8 btn btn-circle btn-primary btn-lg"
			>
				<span class="material-icons">add</span>
			</button>
		</main>
	</body>
</html>
