---
// Component Imports
import Todos from '../components/Todos.vue';
import { addTodo } from '../utils/todoFunctions';
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<link
			href="https://fonts.googleapis.com/icon?family=Material+Icons"
			rel="stylesheet"
		/>
		<title>Todo App</title>
	</head>
	<body>
		<main class="p-5">
			<Todos client:visible />

			<input type="checkbox" id="add-todo" class="modal-toggle" />
			<div class="modal">
				<div class="modal-box relative">
					<label
						for="add-todo"
						class="btn btn-sm btn-circle absolute right-2 top-2"
						>✕
					</label>

					<div>
						<input
							type="text"
							placeholder="Rule the world...."
							class="input w-full max-w-xs"
							id="todoTitle"
						/>

						<button
							class="btn btn-primary ml-2"
							onclick={addTodo(todoTitle.value)}>Add</button
						>
					</div>
				</div>
			</div>

			<label
				for="add-todo"
				class="btn modal-button btn-lg btn-circle fixed z-90 bottom-10 right-8 btn-primary"
			>
				<span class="material-icons">add</span>
			</label>
		</main>
	</body>
</html>
