---
// Component Imports
import Todos from '../components/Todos.vue';
import NewTodo from '../components/NewTodo.vue';

import { addTodo } from '../utils/todoFunctions';
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<link
			href="https://fonts.googleapis.com/icon?family=Material+Icons"
			rel="stylesheet"
		/>
		<title>Todo App</title>
	</head>
	<body>
		<main class="p-5">
			<Todos client:visible />
			<NewTodo client:visible />
		</main>
	</body>
</html>
